.inline-block {
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.class {
  width: 23%;
  padding: 0%;
}
nav {
  width: 76%;
  height: auto;
  padding: 0%;
}
body {
    margin: 0;
}

  header {
    background-color: #2D1634;
    padding: 20px;
  }
  header ul {
    float: right;
    color: white;
    font: roboto condensed;
    font-size: 1vw;
  }
  header li {
    display: inline-block;
    padding: 0px 5px;
  }
  header p {
    display: inline-block;
  }
  .logo {
    text-align: center;
    width: 23%;
  }
  .logo img {
    height: auto;
    width: 20%;
    float: left;
  } 
  .heroImg {
    padding: 0px 0px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .hero-background {
    width: 100%; 
    height: 100%; 
    min-width: 100%; 
    min-height: 100%;
    align-content: center;
    justify-content: center;
  }
  .hero-text {
    font-family: 'Bungee Shade', cursive;
    font-size: 3vw;
    text-align: right;
    position: absolute;
    top: 15%;
    left: 60%;
    padding: 30px;
    color: black;
  }
  .content {
    max-width: 300px;
    margin: 0 auto;
    padding: 50px;
    background-color: #FFFFFF;
    text-align: center;
  }
  /*button {
    padding: 15px;
    background-color: #259D8C;
    color: white;
    font-size: 20px;
    border-radius: #259D8C 4px;
  }*/

.button-container {
  width: 15vw;
  height: 4vw;
  position: relative;
  left: 60%
}

.button {
  background: #2B2D2F;
  width: 90%;
  height: 90%;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}

.button-text {
  font: bold 1.25rem/1 'Poppins';
  color: #71DFBE;
  position: relative;
  top: 35%;
}

.progress-bar {
  position: absolute;
  height: 10px;
  width: 0;
  right: 0;
  top: 50%;
  left: 50%;
  border-radius: 200px;
  transform: translateY(-50%) translateX(-50%);
  background: lighten(#2B2D2F, 15%);
}

svg {
  width: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  left: 45%;
  right: 0;
}

.check {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
}

  footer {
    background-color: #2D1634;
    padding: 5px;
    color: white;
  }
  footer ul {
    list-style: none; 
    padding-left: 5px;
  }
  footer li {
    display: inline-block;
    padding: 0px 7px;
  }
  .circle {
    height: 60px;
    width: 60px;
    border: 2px solid white;
    border-radius: 50%;
    text-align: center;
    vertical-align: center;
    display: inline-block;
}
  